*{
    padding: 0%;
    margin: 0%;
} 
.NombreWeb{
    text-align: center;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    color: #333;
    margin-top: 2%;
}

nav ul{
    display: flex;
    list-style: none;
    background-color: #333;
    padding: 0;
    margin: 0;
}
nav li{
    font-size: 20px;
    line-height: 40px;

}
nav li a {
    color: white;
    display: block;
    text-decoration: none;
    padding: .5em 1em;
  }
    nav li a:hover{
        background: #888;
        color: #333;
    }