<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Diseño</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../Assets/css/style.css">
</head>
<body>
    <!-- cabecera web -->
    <header>
        <h1 class="NombreWeb">Web Diseño</h1>
        <nav>
            <ul>
                <li><a href="Index.html">Inicio</a></li>
                <li><a href="Ofertas.html">Ofertas</a></li>
                <li><a href="Categoria.html">Categorias</a></li>
                <li><a href="Vender.html">Vender</a></li>
            </ul>
        </nav>
    </header>

    <!-- cuerpo web -->
    <div class="contenedor">
        <div class="ofertas">
            <h3 class="tituloOfertas"> Ofertas</h3>
            <label for="oferta" href >Ver todas</label>
        <div class="items">
            <h2 class="TituloItems">Titulo</h2>
            <img src="http://2.bp.blogspot.com/_J19G64iEnac/TE96evEehnI/AAAAAAAAABs/JcyOvp6RS58/s1600/ati_radeon_4870.jpg" alt="" class="imgItems">
            <div class="Precio">Precio $209.99 </div>
            <div class="reseña"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.</p></div>
            <br>
            <input type="button" value="Agregar al carrito" class="Botones">
            <input type="button" value="Comprar" class="Botones">
        </div>
        <div class="items">
            <h2 class="TituloItems">Titulo</h2>
            <img src="../Assets/img/rtx4090.png" alt="" class="imgItems">
            <div class="Precio">Precio $209.99 </div>
            <div class="reseña"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.</p></div>
            <br>
            <input type="button" value="Agregar al carrito" class="Botones">
            <input type="button" value="Comprar" class="Botones">
        </div>
        <div class="items">
            <h2 class="TituloItems">Titulo</h2>
            <img src="http://2.bp.blogspot.com/_J19G64iEnac/TE96evEehnI/AAAAAAAAABs/JcyOvp6RS58/s1600/ati_radeon_4870.jpg" alt="" class="imgItems">
            <div class="Precio">Precio $209.99 </div>
            <div class="reseña"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.</p></div>
            <br>
            <input type="button" value="Agregar al carrito" class="Botones">
            <input type="button" value="Comprar" class="Botones">
        </div>
        <div class="items">
            <h2 class="TituloItems">Titulo</h2>
            <img src="http://2.bp.blogspot.com/_J19G64iEnac/TE96evEehnI/AAAAAAAAABs/JcyOvp6RS58/s1600/ati_radeon_4870.jpg" alt="" class="imgItems">
            <div class="Precio">Precio $209.99 </div>
            <div class="reseña"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.</p></div>
            <br>
            <input type="button" value="Agregar al carrito" class="Botones">
            <input type="button" value="Comprar" class="Botones">
        </div>
        <div class="items">
            <h2 class="TituloItems">Titulo</h2>
            <img src="http://2.bp.blogspot.com/_J19G64iEnac/TE96evEehnI/AAAAAAAAABs/JcyOvp6RS58/s1600/ati_radeon_4870.jpg" alt="" class="imgItems">
            <div class="Precio">Precio $209.99 </div>
            <div class="reseña"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.</p></div>
            <br>
            <input type="button" value="Agregar al carrito" class="Botones">
            <input type="button" value="Comprar" class="Botones">
        </div>
        </div>
    </div>

    <div class="footer">
        <footer>
            <p>Web Diseño &copy; 2023 Utecan 3° TI</p>
        </footer>
        <!-- Comentario -->
    </div>
</body>
</html>