<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Diseño</title>
    <link rel="stylesheet" href="../Assets/css/style.css">
</head>
<body>
    <!-- cabecera web -->
    <header>
        <h1 class="NombreWeb">Web Diseño</h1>
        <nav>
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Videos</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>