<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Assets/css/style.css">
    <title>Web Diseño</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../Assets/css/style.css">

</head>
<body>
    <header>
        <h1 class="NombreWeb">Web Diseño</h1>
        <nav>
            <ul>
                <li><a href="/index.html">Inicio</a></li>
                <li><a href="/View/Ofertas.html">Ofertas</a></li>
                <li><a href="/View/Categoria.html">Categorias</a></li>
                <li><a href="/View/Vender.html">Vender</a></li>
            </ul>
        </nav>
    </header>
    <div class="Review">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/92ZqYaPXxas" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        
    </div>

    <div class="footer">
        <footer>
            <p>Web Diseño &copy; 2023 Utecan 3° TI</p>
        </footer>
        <!-- Comentario -->
    </div>
</body>
</html>